/*CSS responsive for IPad Mini*/
@media only screen and (max-width: 1199px){
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 24px;
    }
    p{
        font-size: 14px;
    }
    a{
        font-size: 13px;
    }
    
    /*Primary button*/
    .primary-button a{
        padding: 12px 16px 14px 16px;
        font-size: 13px;
    }
    /*Secondary button*/
    .secondary-button a{
        padding: 12px 16px 14px 16px;
        font-size: 13px;
    }
    /*Transparent button*/
    .transparent-button a{
        padding: 12px 16px 14px 16px;
        font-size: 13px;
    }
    
    /*Header*/
    .top-bar::before{
        height: 4px;
        width: 100%;
    }
    .controls-image{
        display: initial;
        width: 24px;
        height: 24px;
    }
    .header-bar{

        display: flex;
        max-width: 720px;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        padding: 28px 0px;
    }
    .logo img{
        width: 215px;
        height: 16px;
    }
    .header-content nav{
        display: none;
    }
    .header-content nav ul li{
        padding-right: 20px;
    }
    .enquiry-button{
        display: none;
    }

    /*Footer*/
    footer{
        margin-top: 40px;
        max-width: 768px;
    }
    .footer-section{
        max-width: 720px;
    }
    .footer-bar-1{
        padding-top: 50px;
    }
    .footer-bar-1 img{
        width: 255px;
        height: 19px;
    }
    .footer-bar-2{
        margin-top: 36px;
        height: 243px;
    }
    .footer-left-list nav ul li{
        padding-right: 30px;
    }
    .footer-left-text p{
        top: 133px;
    }
    .footer-right{
        text-align:left;
        left:0;
        top: 53px;
        max-width: 393px;
    }
    .footer-bar-3{
        padding-top: 20px;
    }
    .footer-bar-3 p{
        font-size: 13px;
    }

    /*CSS for body*/
    .body-container{
        max-width: 1199px;
    }

    /*banner*/
    .banner-section{
        max-width: 720px;
        margin-bottom: 60px;
    }
    .banner-container{
        width: 720px;
        height: 301px;
    }
    .banner-container img{
        width: 447px;
        height: 301px;
    }
    .banner-content-container{
        width: 385px;
        height: 281px;
        top:10px;
    }
    .right-icon{
        visibility: hidden;
    }
    .banner-content{
        margin-top: 25px;
        margin-left: 40px;
        width: 300px;
    }
    .banner-content p{
        font-size: 17px;
        line-height: 24px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .banner-content span{
        font-size: 17px;
        font-weight: 500;
    }
    .items{
        width: 36px;
        height: 8px;
    }

    /*What we do section*/
    .menu-info-container{
        margin-top: 60px;
        margin-bottom: 60px;
        max-width: 720px;
    }
    .menu-info{
        height: 304px;
    }
    .menu-info h1{
        padding-top: 60px;
        font-size: 21px;
    }
    .menu-info h1 span{
        font-size: 21px;
    }
    .menu-info p{
        padding-top:20px;
        padding-bottom: 30px;
        width: 596px;
        font-size: 17px;
        line-height: 24px;
    }
    .menu-info img{
        width: 284.881px;
        height: 120px;
        right: 8.12px;
        bottom: -49px;
    }

    /*Speciality Section*/
    .rounded-grid-section{
        max-width: 720px;
        margin-top: 49px;
    }
    .rounded-grid-section h1{
        font-size: 21px;
        padding-top: 60px
    }
    .rounded-grid-section h1 span{
        font-size: 21px;
        font-weight: 300;
    }
    .rounded-grid-container{
        margin-top: 40px;
        margin-bottom: 80px;
    }
    .sphere img{
        width: 141px;
        height: 141px;
    }
    .sphere-text{
        width: 140.922px;
        font-size: 17px;
        line-height: 24px;
    }

    /*Our People*/
    .team-container{
        max-width: 720px;
        height: 301px;
        left:0;
    }
    .team-container img{
        width: 447px;
        height: 301px;
    }
    .team-content-container{
        width: 385px;
        height: 281px;
        top: 10px;
    }
    .team-content{
        margin-left: 40px;
        margin-top: 40px;
        width: 305px;
    }
    .team-content p{
        padding: 10px 0px;
    }

    /*Our Section*/
    .story-container{
        max-width: 720px;
        height: 301px;
        margin-top: 50px;
    }
    .story-container img{
        width: 447px;
        height: 301px;
    }
    .story-content-container{
        width: 385px;
        height: 281px;
        top: 10px;
        left: 0;
    }
    .story-content{
        margin-left: 40px;
        margin-top: 30px;
        width: 300px;
    }
    .story-content p{
        padding: 10px 0px;
    }

    /*Card Scroll section*/
    .scroll-section{
        margin-top: 80px;
        margin-bottom: 60px;
        max-width: 768px;
    }
    .scroll-section h2{
        font-size: 21px;
        margin-left: 85px;
    }
    .scroll-gap{
        margin-top: 20px;
        margin-left: 85px;
    }
    .scroll-gap a{
        margin-right: 50px;
    }
    .scroll-gap p{
        font-size: 14px;
    }
    .scroll-boxes{
        margin-top: 50px;
    }
    .scroll-boxes ul{
        left:-183px;
    }
    .scroll-boxes ul li{
        padding-right: 8px;
    }

    .sliders{
        margin-top: 657px;
        margin-left: 85px;
    }
    .sliders ul li{
        padding-right: 20px;
    }

    /*Proudly Supporting*/
    .support-section{
        width: 598px;
        font-size: 24px;
    }
    .support-logos{
        margin-top: 41.25px;
    }
    .support-1{
        width: 200.976px;
        height: 80px;
    }
    .support-2{
        width: 111.22px;
        height: 80px;
    }
    .support-3{
        width: 80px;
        height: 80px;
    }

    /*Last section*/
    .contact-section{
        margin-top: 146px;
        max-width: 768px;
        height: 279px;
    }
    .contact-layout{
        margin-top: 108px;
        margin-left: 106px;
        height: 131px;
        padding-left: 39px;
    }
    .contact-layout h2{
        padding-bottom: 20px;
    }
    .contact-layout span{
        font-size: 24px;
    }
    .contact-section img{
        width: 236.792px;
        height: 99.82px;
        top: 19px;
        right: -18.79px;
    }
    .highlight-section{
        width: 598px;
        height: 163px;
        left: 85px;
        right: 85px;
        margin-top: 60px;
    }
    .highlight-layout{
        margin-left: 21px;
        margin-top: 21px;
        padding-left: 39px;
        height: 121px;
        max-width: 489px;
    }
    .highlight-layout h2{
        padding-bottom: 20px;
    }
    .highlight-layout span{
        font-size: 24px;
    }
}



/*CSS responsive for Mobile*/
@media only screen and (max-width: 426px) {

    h2{
        font-size: 21px;
    }
    /*Header*/
    .top-bar::before{
        height: 44px;
        width: 100%;
    }
    .time{
        visibility: visible;
    }
    .widgets{
        visibility: visible;
    }
    .logo img{
        width: 215px;
        height: 16px;
    }
    header{
        height: 114px;
        align-items: center;
    }
    .header-bar{
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 62px;
        max-width: 100%;
    }
    .controls-image{
        display: initial;
    }
    /*Footer*/
    footer{
        margin-top: 40px;
        max-width: 375px;
        margin-left: 20px;
    }
    .footer-bar-1{
        padding-top: 40px;
        display: block;
    }
    .footer-bar-1 li{
        padding: 40px 31px;
        padding-left: 0;
    }
    .footer-bar-2{
        margin-top: 0;
        height: 372px;
    }
    .footer-right{
        max-width: 250px;
        top: 143px;
    }
    .footer-left-list ul{
        flex-wrap: wrap;
    }
    .footer-left-list ul li{
        padding-right: auto;
        width:50%;
    }
    .footer-left-text p{
        top: 267px;
        max-width: 246px;
    }
    .footer-bar-3 p{
        top: 30px;
        right: auto;
        left: 0;
    }
    .footer-bar-3 ul{
        top:64px;
    }
    .footer-bar-3 ul li{
        padding-right: 23px;
    }

    /*CSS for body*/
    .body-container{
        max-width: 375px;
    }

    /*Banner section*/
    .banner-section{
        max-width: 375px;
        height: 512px;
    }
    .banner-container{
        width: 375px;
        height: 276px;
    }
    .banner-container img{
        height: 276px;
        width: 327px;
        object-fit: cover;
        right: 0;
    }
    .banner-content-container{
        width: 335px;
        height: 296px;
        top: 188px;
        left:20px;
        right:20px;
    }
    .banner-content{
        margin-top: 30px;
        margin-left: 20px;
    }
    .circles{
        margin-top: 228px;
    }

    /*What we do section*/
    .menu-info-container{
        margin-top: 30px;
        margin-bottom: 54px;
    }
    .menu-info{
        height: 445px;
        width: 335px;
        margin: auto;
    }
    .menu-info h1{
        padding-top: 40px ;
    }
    .menu-info p{
        padding-top: 20px;
        padding-bottom: 30px;
        width: 275px;
    }
    .menu-info img{
        width: 296.729px;
        height: 124px;
        left: 20px;
    }

    /*Speciality section*/
    .rounded-grid-section{
        margin-bottom: 80px;
    }
    .rounded-grid-container{
        margin-top: 33px;
        margin-bottom: 29px;
        margin-left: 380px;
    }
    .sphere-sliders{
        display: initial;
    }
    .sphere-sliders ul{
        justify-content: center;
    }

    /*Our people section*/
    .team-section{
        height: 484px;
    }
    .team-container{
        width: 375px;
        height: 276px;
    }
    .team-container img{
        height: 276px;
        width: 327px;
        object-fit: cover;
        right: 0;
        top: 0;
        left: auto;
    }
    .team-content-container{
        width: 335px;
        height: 296px;
        left:20px;
        right:20px;
        bottom: -208px;
        top:auto;
    }
    .team-content{
        margin-top: 30px;
        margin-left: 22px;
    }
    .team-content p{
        width: 283px;
    }

    /*Our story section*/
    .story-section{
        max-width: 375px;
        height: 484px;
        margin-top: 13px;
    }
    .story-container{
        height: 276px;
        margin-top: auto;
    }
    .story-section img{
        height: 276px;
        width: 327px;
        object-fit: cover;
        right: 0;
        top: 0;
        left: auto;
    }
    .story-content-container{
        width: 335px;
        height: 296px;
        left:20px;
        right:20px;
        bottom: -208px;
        top:auto;
    }
    .story-content{
        margin-top: 30px;
        margin-left: 22px;
    }

    /*Cards scroll section*/
    .scroll-section{
        margin-top: 60px;
    }
    .scroll-section h2{
        margin-left: 25px;
    }
    .scroll-gap{
        margin-left: 20px;
        display: block;
        width: 300px;
    }
    .scroll-gap p{
        margin-left: 5px;
        width: 220px;
    }
    .scroll-boxes{
        margin-top: 40px;
    }
    .scroll-boxes ul{
        left: -217px;
    }
    .sliders{
        margin-left: 50px;
        margin-top: 581px;
    }
    .sliders ul li{
        padding-right: 26px;
    }

    /*Support section*/
    .support-section{
        width: 375px;
        font-size: 21px;
    }
    .support-logos{
        margin-top: 30px;
    }
    .support-1{
        width: 113.049px;
        height: 45px;
    }
    .support-2{
        width: 62.561px;
        height: 45px;
    }
    .support-3{
        width: 45px;
        height: 45px;
    }

    /*Contact section*/
    .contact-section{
        margin-top: 218px;
        max-width: 375px;
        height: 527px;
    }
    .contact-section img{
        width: 305.014px;
        height: 128px;
        top: 121px;
        right: -11.01px;
    }
    .contact-layout{
        margin-top: 289px;
        margin-left: 50px;
        height: 188px;
        padding-left: 30px;
    }
    .highlight-section{
        width: 335px;
        height: 322px;
        margin-top: 60px;
        left: 20px;
        right: 20px;
        top: -218px;
    }
    .highlight-layout{
        margin-left: 30px;
        margin-top: 50px;
        padding-left: 30px;
        height: 189px;
        max-width: 247px;
    }
    .highlight-layout span{
        font-size: 21px;
    }
}